html {
    font-size:62.5%;
}



 #bodyContainer {
 	background-image:url(../chalkboardCloseup.jpeg);
	 background-size: 100% 100%;
	 font-family: "Special Elite", serif, georgia; 
	 padding: .5rem  2rem 2rem  2rem ; 
	 
}
 
h1 {
	font-size: 2rem;

}
 #container {
 width: 100%;
 display: grid;
 grid-template-rows:1fr 1fr;
 grid-column-gap: 2rem;
 
 }
 strong {
 	font-size: 3rem;
 
 }
 #content {
 
 }

 button {
	 margin: 0px .5rem .5rem 0px;

 }
 
 
 
 .button {
  font-size: 2rem;
  font-weight: bold; 
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: .5rem 1rem .5rem 1rem;
  border-top: .2rem solid #CCCCCC;
  border-right: .2rem solid #333333;
  border-bottom: .2rem solid #333333;
  border-left: .2rem solid #CCCCCC;
  margin: .5rem; 
}

header {
	color: yellow; 
	text-align: center; 
	margin: .4em 0px .7em 0px; 
	height: auto; 
	text-shadow: .2rem .2rem #666666;
}

 .day { 
	width: 100%; 
	padding: .4rem .4rem .4rem .4rem;
	text-align: center;
	border-style: solid;
  	border-width: .3rem;
	border-color:#CCCCCC;
	background-color: yellow; 
	cursor: pointer;
	}

	a {
		color: yellow;
		border: .5rem, solid, black !important ; 
		border-radius: .3rem; 
		margin: .5rem; 
	}
		
 
 
 #backToTop:hover
 {
 	background-color:black;
	color:yellow; 
 }
	
	#backToTop {
		width:auto;
		height:auto;
		font-family:Verdana, Arial, Helvetica, sans-serif;
		font-size: 3.8rem;
		position:fixed;
		bottom: .5rem;
		right: .5rem;
		background-color:red;
		color:blue;
		}

		#popUp {
		width: 75vw;
		height: 75vh;
		font-family: "Special Elite";
		font-size: 3.8rem;
		position:fixed;
		top: 10%;
		left: 50%;
		background-color: white;
		color: black;
		border: solid, thick, yellow; 
		transform: translateX(-50%);
		border-style: solid;
  		border-width: .5rem;
		border-color: black;
		padding: 1rem 1rem 1rem 1rem;
		text-align: center; 
		}

   .inform {
	color: yellow; 
	height: 60vh;
	font-weight: 900; 
	font-size: 2.5rem;
	text-align: center; 
	padding: 1rem 1rem 1rem 1rem; 
	text-shadow: .2rem .2rem #666666;
	line-height: 3rem;
	margin: 1rem;  
	

   }

   

.myButton {
	-moz-box-shadow: 0px .1rem 0px 0px #fff6af;
	-webkit-box-shadow: 0px .1rem 0px 0px #fff6af;
	box-shadow: 0px .1rem 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius: .6rem;
	-webkit-border-radius:.6rem;
	border-radius:.6rem;
	
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:1.5rem;
	font-weight:bold;
	padding: .3rem 1rem;
	text-decoration:none;
	text-shadow:0px .1rem 0px #ffee66;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:.1rem;
}

.title {
	top: 50%;
	left: 50%;
	display: block; 
	animation-name: moveInTop;
    animation-duration: 3s;
    font-size: 3rem; 
}

#closeButton {
	position:fixed;
	top: .5rem;
	right: .5rem;
}


@keyframes moveInTop {
	0% {
		opacity: 0;
		transform: translateY(-5rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
	}


}